{% block body %}
<h2 style="text-align: center" > <strong style="color:#F2385A; font-size: 60px">Listes</strong> <small style="color: #3AA1BF;"> Des </small><b style="color: #56D9CD;">Article!</b></h2>
    <hr>
    <div>
        {% for name in articles %}
        <h4><a href="{{ path('_show', {'id': name.id} ) }}">{{ name.title }}</a></h4>
        <div class="bs-component">
            <blockquote>
                <p>{{ name.content }}</p>
                <small><a href="{{ path('article_author', {'author': name.author} ) }}">{{ name.author }}</a></small>
            </blockquote>
            {% else %}
                <li>Pas d'article trouvé.</li>
            {% endfor %}
    </div>


{% endblock %}